body {
    background-image: url(../image/thumb2-poker-casino-playing-cards-casino-chips-poker-table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    background-color: #ffffff;
    height: 450px;
    width: 300px;
    border-radius: 15px;
}

.main .title {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 15px;
}

.main .button {
    margin-top: 15px;
    font-size: 15px;
    padding: 5px 8px;
    background-color: #8a0707;
    color: #ffffff;
    cursor: pointer;
}

.main .button:hover {
    background-color: #ffffff;
    color: #8a0707;
    transition: 0.2s ease-in-out;
}
